.forecast-summaries {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: large;
}

@media (max-width: 415px) {
  .forecast-summaries {
    font-size: 8px;
  }
}

@media (max-width: 415px) {
  .forecast-summaries button {
    font-size: 7px;
  }
}
